@tailwind base;
@tailwind components;
@tailwind utilities;


/* The CSS code `.hide-scrollbar::-webkit-scrollbar { display: none; }` is targeting the webkit
scrollbar (specifically for webkit-based browsers like Chrome and Safari) and setting its display
property to none, effectively hiding the scrollbar. */
body::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
}
.small-scrollbar {
  scrollbar-width: thin; /* Firefox: thin, auto, none */
  scrollbar-color: #888 #f1f1f1; /* thumb and track colors */
}

.small-scrollbar::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

.small-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.small-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}






@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @scroll-timeline fadeInTimeline {
    source: auto;
    orientation: block;
    scroll-offsets: start 0, end 100%;
  }

  .scroll-fade-in {
    animation-name: fade-in;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-timeline: fadeInTimeline;
  }
}
