@tailwind base;
@tailwind components;
@tailwind utilities;


/* The CSS code `.hide-scrollbar::-webkit-scrollbar { display: none; }` is targeting the webkit
scrollbar (specifically for webkit-based browsers like Chrome and Safari) and setting its display
property to none, effectively hiding the scrollbar. */
body::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
}





@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @scroll-timeline fadeInTimeline {
    source: auto;
    orientation: block;
    scroll-offsets: start 0, end 100%;
  }

  .scroll-fade-in {
    animation-name: fade-in;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-timeline: fadeInTimeline;
  }
}
